@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
}

body {
  background: var(--background);
}

.swiper-slide {
  height: auto !important;
}

.swiper-wrapper {
  align-items: stretch;
  padding-bottom: 0.8rem;
}